@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(93, 93, 125, 1);
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    padding-left: 136px;
}

.container-right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}

.link-header {
    
    cursor: pointer;
    width: 59px;
    height: 41px;
    font-size: 28px;
    line-height: 41px;
    margin-right: 41px;
}

.link-header:hover {
    opacity: .6;
}

.link-header:active {
    opacity: .3;
}

header {
    margin: 24px 0 0 57px;
}

h1 {
    width: 368px;
    font-size: 70px;
    line-height: 80px;
}

p {
    width: 540px;
    font-size: 28px;
    line-height: 48px;
    opacity: 60%;
    margin: 15px 0;
}

.btn-main {
    cursor: pointer;
    align-items: center;
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 36px;
    background: rgba(148, 153, 234, 1);
    color: white;
    border-radius: 30px;
    border: none;
}

.btn-main:hover {
    opacity: .8;
}

.btn-main:active {
    opacity: .5;
}

@media screen and (max-width: 900px){
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        width: 100%;
        height: auto;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        font-size: 14px;
        line-height: 24px;
        width: auto;
        text-align: center;
    }

    .btn-main {
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 330px){
    .container-left {
        height: 70%;
    }
}